* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0B1124;
    overflow: hidden;

}

.titlebar {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    /* Space for macOS traffic lights */
    padding-right: 16px;
    background: #0B1124;
    /* border-bottom: 1px solid #252A3A; */
    color: #F5F7FA;
    -webkit-app-region: drag;
    user-select: none;
}

.sidebar{
    top: 0px;
    height: 100%;
    width: 20%;
    background-color: #0B1124;
    position: absolute;
    border: 1px dotted #151A4D;
    left: 0%;
}